@import "sass/base.scss";
@import "sass/mixins.scss";

/* Custom page footer */
.footer {
  width: 100%;
  color: #777;
  position: fixed;
  bottom: 0;
  padding: 0 10px;
  height: auto;
  z-index: 3;
  @include respond-to(phone-up) {
    padding: 20px;
  }
  @include respond-to(tablet-up) {
    background: none;
    background: rgba(0,0,0,0.76);
  }
}



.subscribe {
  input[type="email"] {
    border-radius: none !important;
    font-size: 14px;
    color: $themeColor3;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #303030;
    width: 100%;
    float: left;
    outline: none;
    @include respond-to(tablet-up) {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  input[type="submit"] {
    background: $themeColor3;
    outline: none;
    color: $themeColor2;
    border: none;
    padding: 10px;
    width: 42px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 14px;
    text-align: center;
    @include respond-to(tablet-up) {
      margin-top: 0;
    }
  }
  ::-webkit-input-placeholder {
    position: relative;
    font-size: 14px;
    @include respond-to(tablet-up) {
      font-size: 18px;
      top: 0;
      left: 10px;
    }
  }
}


div#infolayer {
  background: $themeColor1 !important;
}