@import "sass/base.scss";
@import "sass/mixins.scss";

.instagram {
	h2 {
		font-size: 14px; 
	}
	
	.instafeed {
		text-align: center; 
		a img {
			border-radius: 6px; 
			width: 33.33%;
			display: inline-block; 
			position: relative; 
			margin: 0 auto;  
			float: left; 
			padding: 20px; 
				@include hover-transition; 
				&:hover {
					opacity: 0.7;
				}
				@include respond-to(phone-up){
					width: 20%; 
				}
		}
	}
}


#page-eyes {
	img {
		width: 100%; 
		@include respond-to(tablet-up) {
			opacity: 0.8; 
			// border-radius: 14px;
			&:hover {
				opacity: 1; 
			} 
		}
	}
	.list-group {
		margin-bottom: 1px !important;
		padding-left: 1px;
		padding-right: 1px;
	}
}