@mixin hover-transition {
	transition: all 0.4s; 
}

@mixin full-hero {
	background-size: cover; 
	background-position: top center;
	background-attachment: fixed; 
}

@mixin text-background {
    padding: 20px 20px 20px 0; 
    margin-bottom: 8px; 
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "phone-up" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-up" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "desktop-up" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}


// CUSOTOM TEST GRID

@mixin row() {
    font-size: 0; 
}

@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: percentage($col/$sum);
    font-size: 16px; 
    display: inline-block; 
    vertical-align: $align;
    box-sizing: border-box;
    padding: 0 $gap;  
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);
    
    @media only screem and (min-width: 768px) {
        width: percentage($col/$sum); 
        vertical-align: $align;
    }
}


