@mixin hover-transition {
	transition: all 0.4s; 
}

@mixin full-hero {
	background-size: cover; 
	background-position: top center;
	background-attachment: fixed; 
}

@mixin text-background {
    padding: 20px 20px 20px 0; 
    margin-bottom: 8px; 
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "phone-up" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-up" {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "desktop-up" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
