@import "../mixins.scss";
@import "../base.scss";

#page-live {
	//position: relative;
	//display: block;
	//width: 100%;
	.background {
		background: none;
	}
	.container {
		@include respond-to(phone-up) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	h1 {
		@include massive-heading;
	}
	background: $bgColor;
	h2 {
		color: $themeColor2;
		span {
			color: $themeColor3;
		}
	}
	height: 100vh;
	@include respond-to(tablet-up) {
		padding-bottom: 100px;
		padding-top:100px;
		overflow: scroll;
	}
}

.live-item {
	position: relative; 
	display: block; 
	height: auto;
	padding-bottom: 40px;
	//@include border-bottom;
	//border-color: black;
	color: $copy;
	@include respond-to(tablet-up) {
		//min-height:260px;
	}
	
	.heading, .words {
		display: block; 
		position: relative; 
        margin: 0 auto; 
		width: 100%; 
	}
	.hero {
        margin-right: 20px; 
        position: relative; 
        display: block; 
        width: 300px; 
        height: auto; 
        background-size: cover !important; 
        background-repeat: no-repeat !important; 
        background-position: center top !important; 
    }
	img {
		padding: 0 20px 0 0; 
		position: relative;
		display: block; 
		width: 100%; 
	}
}
