<div class="live-item">
  <div class="container">
    <!--<div class="col-lg-6">
        <div class="hero"><img ng-src="{{ gigObject.imgUrl }}" alt="{{ gigObject.imgAlt }}">
        </div>
    </div>-->
    <!--<div class="col-lg-3"></div>-->
    <div class="col-lg-12">
      <div class="heading">
        <h2>{{ gigObject.date }} <span>{{ gigObject.venue }}</span></h2>
        <h3>{{ gigObject.location }}</h3>
      </div>
      <div class="words">
        <p>{{ gigObject.content }}</p>
        <a target="_blank" href="{{ gigObject.linkUrl }}">{{ gigObject.linkTitle }}</a>
      </div>
      <!--<div class="hero">
          <img ng-src="{{ gigObject.imgUrl }}" alt="{{ gigObject.imgAlt }}">
      </div>-->
    </div>
    <!--<div class="col-lg-3"></div>-->
  </div>
</div>