<h2>Columns example</h2>
<div class="features">
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
  </article>
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
  </article>
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
  </article>
</div>

<h2>Vertical align example</h2>
<div class="products">
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolor odit nihil beatae tempore vitae ad perspiciatis libero eligendi rerum quae suscipit fugit aspernatur reprehenderit quisquam provident deserunt minima consequuntur.</p>
  </article>
  
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </article>
  
  <article>
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolor odit nihil beatae tempore vitae ad perspiciatis libero eligendi rerum quae suscipit fugit aspernatur reprehenderit quisquam provident deserunt minima consequuntur.</p>
  </article>
</div>

<h2>Fluid example</h2>
<div class="compare">
  <article class="fluid">
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati harum quisquam ut illo iste velit cumque tempore eligendi eveniet debitis incidunt vitae illum ducimus magnam fugiat dicta nemo nihil quaerat.</p>
  </article>
  <article class="fluid">
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia corrupti quas libero aliquid consequuntur necessitatibus molestiae harum ea eaque placeat nobis voluptatibus tempora et cumque delectus numquam at ratione non!</p>
  </article>
</div>
