<div id="page-ears" ng-controller="earsCtrl">
	<div class="background">
		
		
		
		<!-- Start content -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Ears</h1>
				</div>
			</div>
			

			<div class="row">
				<div class="col-lg-12">		
					<iframe style="border: 0; height: 300px; width: 300px;" src="https://bandcamp.com/EmbeddedPlayer/track=671025354/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless>
						<a href="http://theintheout.bandcamp.com/track/return">Return by THE IN THE OUT</a>
					</iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">	
					<iframe style="border: 0; height: 300px; width: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album=3122111198/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless>
						<a href="http://theintheout.bandcamp.com/album/the-in-the-out-ep">THE IN THE OUT (EP) by THE IN THE OUT</a>
					</iframe>
				</div>			
			</div>
		</div>
		<!-- End content -->
		
		
		
	</div>
</div>