<div ng-controller="searchController">
    <label>Search</label>
    <input type="text" value="Doe" />
    
    <h3>Search Results</h3>
    <div class="list-group">
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
        <search-result ng-repeat="person in people" person-object="person" formatted-address-function="formattedAddress(aperson)"></search-result>
    </div>
</div>