<div id="page-live" ng-controller="LiveCtrl">
  <div id="vid-overlay"></div>
  <div class="background">
    <!-- Start content -->
    <div class="vert-mid-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>LIVE</h1>
          </div>
        </div>

        <div class="row">
          <div class="container-fluid">
              <div class="col-lg-12 col-md-12 list-group" ng-repeat="gig in gigs">
                <live-item gig-object='gig'></live-item>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End content -->
  </div>
</div>