<div id="page-who" ng-controller="WhoCtrl">
	<div class="background">
		<div class="vert-mid-container">
			<!-- Start content -->
			<div class="container">
				<div class="col-lg-12">
					<h1>WE ARE</h1>
				</div>
				<!--<div class="col-lg-3"></div>-->
				<div class="col-lg-12 aCenter">
					<h2>Dallas Gale <span>Vocals + guitar</span></h2>
					<h2>Xain Milke <span>Bass</span></h2>
					<h2>Michael Sanders <span>Drums</span></h2>
					<h2>Will Hindmarsh <span>Organ + Synths</span></h2>
				</div>
				<div class="col-lg-12 aCenter">
					<h2>Bookings<br /><br />
						<a href="mailto:band@theintheout.com">
							band[at]theintheout.com
						</a>
					</h2>
				</div>
				<!--<div class="col-lg-3"></div>-->
			</div>
			<!-- End content -->
		</div>
	</div>
	<div id="vid-overlay"></div>

</div>